html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 18px;
	vertical-align: baseline;
}


h1, .h1 {
    font-size: 36px;
}

h2, .h2 {
    font-size:30px;
}

h3, .h3 {
    font-size:24px;
}

input, textarea, select, button {
    width:100%;
    font: 400 15px Roboto;
    padding: 10px 21px;
    margin-bottom: 15px;
    border-radius: 5px;
    border:1px solid #dddddd;

}

button {
    border:none;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border-color: #3b3f42;
}

select {
    padding: 9px 16px;
}

.header-bottom {
    margin-top:19px;
}

body {
    font-family: "Roboto", "FontAwesome", sans-serif;
    font-size: 16px;
    font-weight: lighter;
    font-weight: 400;
    color: #3b3f42;

}


::placeholder {
    color:  #3b3f42;
}

p {
    margin-bottom: 1.5em;
}

a {
    text-decoration:underline;
    color: #52b2d7;
}

a:hover {
    color: #51a1b4;
    text-decoration:none;
}
a:focus {
    color: white;
}
a, input, button {
    transition: all 0.3s ease;
}




img {
    width:100%;
    height: auto;  
}

.container {
    text-align: center;
    margin-bottom: 16px;
}

.logo img {
    width:102%;
    height: auto;  
}

.menu-control {
     display: flex;
    justify-content: center;
}




.cont1 {
    text-align: center;
    margin-top:6px;
    margin-bottom: 0;
    padding-top: 0;
    display: flex;
    flex-flow: row wrap;
}

.cont1>* {
    flex-grow: 1;
}

h2 {
    text-align:center;
}

.pack {
    padding: 9px 0 0 0;
    display: flex;
}

.logo {
    margin-top: 5px;
}


.card0 {
    padding: 14px 20px 10px 32px;

    box-shadow: 0px 2px 2px 0px rgba(59, 63, 66, 0.2);
    line-height: 1.35;
    font-size:15px;
    border-radius: 0px 0px 10px 10px;
    margin-left:30px;
    text-align:left;

}

card {
    padding: 0 20px;
    margin-top:10px;
    margin-bottom: 20px;
}

.changing-pad {
    padding:0px;
}

.back {
    padding: 0;

    box-shadow: 0px 2px 2px 0px rgba(59, 63, 66, 0.2);
    line-height: 1.35;
    font-size:15px;
    border-radius: 0px 0px 10px 10px;
    text-align:left;

}

.text {
    padding:6px 29px 1px;
    line-height: 1.7;
}

.text .fa {
    color:#56b9d0;
}



.text a {
    color:#56b9d0;
}

.pad-top {
    line-height: 1.3;
    padding-top: 12px;
    font-weight: 300;
}

.pad2 {
    padding:3px 0 5px;
    margin-bottom: 2px;

}

.submenu {
    font-size: 15px;

}



.mini {
    font-size: 13px;
    padding-bottom:13px;
}

.back img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}

.back a:hover {
    /* filter: brightness(50%); */
    text-decoration: underline;
}
.change {
    margin-bottom: 19px;
}


.telephone {
    padding-top:10px;
}



.number1 a{
    font-size: 28px;
    font-weight: bold;
    color:black;
     line-height: 1.1;
    padding-left: 5px;
    text-decoration: none;
}

.number2 {
    margin-top:2px;
}

.number2 a{
    display: block;
    font-size: 18px;
    padding-top: 3px;
    padding-right: 40px;
    letter-spacing: 0.1px;
    color: #52b2d7;
    text-decoration: underline;
    font-weight: 300;
}

.number2 a:hover {
    text-decoration: none;
}

.button {
    margin-top: 30px;
    padding: 16px 71px;
    
    border-radius: 5px;
    font-weight: bold;
    color: white;
    display: inline-block;
    text-decoration: none;
    box-shadow: 0px 2px 2px 0px rgba(59, 63, 66, 0.2);
    font-size: 15px;
}

.blue {
    display:none;
}


.red {
    margin-top: 20px;
    background-color: red;
}

.aqua {
    background-color:#56b9d0;
    border:none;
}

.aqua:hover {
    background-color: red;
    color:white;
}


.red:hover {background: #fbba42; color: white;}

h1 .h1 {
    font-size:36px;
}

.zagolovok {
    font-size: 36px;
    margin: 15px 0 4px;
}

.zagolovok4 {
    font-size: 36px;
    margin: 13px 0 5px;
}

.mrg-top {
    margin-top: 30px;
}

.c-m-b {
    margin-bottom:3px;
}


.mrg-top2 {
    margin-top: 61px;
}

.mrg-top3 {
    margin-top:72px;

}

.mrg-btm {
    margin-bottom:70px;
}

.mrg-btm2 {
    padding-top:10px;
    margin-bottom:20px;
}

.mrg-btm3{
    margin-bottom:50px;
}
.btn-pad {
    padding-left: 98px;
    padding-right: 98px;
}
.flexnav {
    display: flex;
    list-style-type: none;
    margin-top: 0;
    justify-content: space-around;
    padding-bottom:0;

    font-size: 10px;
}

.flexnav li {
    flex-grow: 1;
    margin:auto;
}

.flexnav > li:first-child a {
    border-radius: 5px 0 0 5px;
}

.flexnav > li:last-child a {
    border-radius: 0 5px 5px 0;
}

.flexnav li a {
    display: block !important;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    color:white;
    flex-grow: 1;
    background-color: #56b9d0;
    padding: 13px 0;

}

 .show {
     display:none;
 }

.flexnav li a:hover {
    background-color: #51a1b4;
    color:white;
}


.image {
    margin: 20px -1px;
}

/* .slick-arrow {
    position: absolute;
    background-color: #fbba42;
    top:45%;
    color:white;
    width:130px;
    z-index:1;
    border:none;
    border-radius:5px;
}

.slick-prev {
    left:33px;
}

.slick-prev:hover {
    background-color: #b7832f;
    cursor:pointer;
}

.slick-next {
    left:613px;
}


.slick-next:hover {
    background-color: #b7832f;
    cursor:pointer;
} */

#forma a:focus {
    color:white;
}

.forma {
    margin-top: 21px;
    padding: 10px 29px 5px;
    background-color: #ffffff;
    box-shadow: 0px 2px 2px 0px rgba(59, 63, 66, 0.2);
}

.message {
    margin: 14px 0;
    height:80px;

}

.submit {
    margin-bottom: 28px;
    background-color: #fbba42;
    padding: 15px 15px 16px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: none;
    box-sizing: border-box;
}

.submit:hover {
    background-color: red;
    border-radius: 5px;
    cursor:pointer;
}

form h3 {
    text-align: left;
    font-size:30px;
    margin:12px 0;
    font-weight:bold;
}

.current {
    font-size: 15px;
    font-weight: 400;
    font-family: Roboto;
    padding:0 22px;
}


.nice-select .option {
    cursor: pointer;
    font-size:15px;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 22px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.smallMenu {
    list-style-type: none;
    margin-bottom: 20px;
    margin-top: 5px;
    line-height: 25px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.smallMenu-w {
    margin-bottom:12px;
}


.smallMenu li{

    text-align:center;
    padding: 0 15px;
}

.smallMenu li a {
    color:#56b9d0;
    font-size: 18px;
    font-weight: lighter;
    line-height: 1px;
    text-decoration: none;
    border-bottom: 1px dashed #56b9d0;
}

.smallMenu li a:hover, .smallMenu li a:active, .smallMenu li a:focus, .smallMenu li a.active {
    border-bottom: 0;
    color:black;
}

li.btn.is-checked {
    color:black;
    text-decoration: none;
}


.tab a .active {
    color:red;
}

.grayback {
    background:#f2f2f2;
    margin:0px;

}

.gray {
    background:#f2f2f2;
    padding: 22px 30px 20px;
    box-shadow: 0px 2px 2px 0px rgba(59, 63, 66, 0.2);
}

.zagolovok-min {
    font-size:30px;
    text-align: center;
    margin-top:5px;
    margin-bottom:16px;
}

.big_text p {
    text-align: left;
    line-height: 1.6;
    margin-bottom: 23px;
    font-size: 15px;
    font-weight: lighter;
}

.big_text-last {
    padding:20px;
}

.footer-yellback {
    background:#fbba42;
    margin:0px;
    padding:10px 45px;

}

.button-yellow {
    border: 2px white solid;
    background-color: #fbba42;
    margin: 15px 0px;
    padding: 14px 10px;
    width:170px;
}

.button-yellow:hover {
    cursor:pointer;
    background-color:#56b9d0;
}

.zagolovok3 {
    font-size:30px;
    margin: 10px 0 1px;
    color:white;
    text-align:left;
}

.big_text-white {
    color:white;
    margin-bottom:10px;
    text-align: left;
}

.flex-container {
    display:flex;
    justify-content: space-between;

}

.form-pad {
    padding: 10px;
    border-radius:5px;
    box-sizing: border-box;
    width: 70%;
    margin-top:15px;
    margin-left: 1px;
    height:50px;

}

.footer-blackback {
    background-color: #3b3f42;
}

.column {
    flex-grow:3;
    margin-top:45px;

}

.column ul {
    list-style-type: none;
    text-align:left;

}

.column li {
    font-size: 15px;
    color:white;
    margin:10px 20px 12px 0;
    font-weight: lighter;
}

.column .main-li {
    margin-top:0;
    font-weight:bold;
}

.column li a {
    color:white;
    font-size: 15px;

    margin:10px 20px 12px 0;
    font-weight: lighter;
}

.no-margin {
    margin-bottom: 0px;
}

.no-padding {
    padding: 0px;
}

.column-padding {
    padding-left:57px;
}

.column-padding2 {
    padding-left:38px;
}

.column li a:hover {
    color: #52b2d7;
    text-decoration: underline;
}

.column4{
    width:24%;
}

.number1-footer {

    font-size: 32px;
    font-weight: bold;
    color:white;
    padding-top:35px;
    text-align:left;
    padding-left:5px;
    padding-top: 42px;

}

.number1-footer a{
    color:white;
    font-size: 31px;
}

.text-footer {
    color: white;
    margin-top: 11px;
    margin-left: 11px;
    font-size: 15px;
    font-weight: lighter;
    text-align: left;
    line-height: 1.7;
}

.button-footer {
    float:right;
    margin-top:0;
}

.number2-footer {
    padding-right:0;
    text-align: left;
    margin-left:10px;
}

.text-footer-nomargin {
    margin-left: 0;
    margin-top: 13px;

}

.row p a {
    color: #52b2d7;
    text-decoration: underline;
    font-size: 15px;
    font-weight: lighter;
}

.row p a:hover {
    text-decoration: none;
}


.fab {
    margin-right:15px;
    float:left;
    width:40px;
    height:40px;
    color:white;
    background-color: transparent;
    font-size: 16px;
    padding-top:10px;
    border:2px solid white;
    border-radius: 5px;
    text-align: center;
}

 a .fab:hover {
    background-color:white;
    color:#3b3f42;
}


.fa-check-circle {
    width: 18px;
    color:#52b2d7;
    font-size:14px;
}

.fa-chevron-up{
border: 2px solid white;
    width: 69px;
    height: 40px;
    color: white;
    border-radius: 5px;
    padding-top: 8px;
    margin-left: 20px;
}





 a .fa-chevron-up:hover{
    color:#3b3f42;
    background-color:white;
}

.padin-top {
    padding-top: 14px;
}

.container-footer-margin {
    margin-bottom: 0px;
    padding-bottom:10px;
}



.menu-button {
    font-size:30px;
    font-weight: bold;
    padding-left:10px;
}

.point {
    padding-left:45px;
}

.flexnav {
    overflow: hidden;
}

.white {
    margin-bottom:70px;
}





  .white-popup {
    position: relative;
    background: #FFF;
    padding: 25px;
    width: auto;
    max-width: 400px;
    margin: 0 auto;
  }
  
  /* 
  
  ====== Zoom effect ======
  
  */

  .mfp-zoom-in .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
  }
  .mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  .mfp-zoom-in.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: scale(1);
  }
  .mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
  }
  .mfp-zoom-in.mfp-removing .mfp-with-anim {
    transform: scale(0.8);
    opacity: 0;
  }
  .mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
  }
 .btn { 
color:#56b9d0;
font-size: 18px;
font-weight: lighter;
line-height: 1em;
text-decoration: underline;
padding-bottom:10px;
}

.btn:hover {
    cursor:pointer;
    color:black;
    text-decoration: none;
}

.bt {
    margin-top:10px;
    margin-bottom:30px;
}

.change2 {
    margin-bottom: 24px;
}

.footer-blackback li a {
    text-decoration:none;
}